<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if devoured}}Yum!{{else}}Eat me{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>